[submodule "build/ffi"]
	path = build/ffi
	url = git@github.com:cn00/luaffifb.git
[submodule "build/p7zip/p7zip"]
	path = build/p7zip
	url = git@github.com:cn00/7z.git
[submodule "build/libexpat"]
	path = build/libexpat
	url = git@github.com:libexpat/libexpat.git
[submodule "build/luaexpat"]
	path = build/luaexpat
	url = git@github.com:LuaDist/luaexpat.git
[submodule "build/lua"]
	path = build/lua
	url = git@github.com:cn00/lua.git
[submodule "build/lua-intf"]
	path = build/lua-intf
	url = /Volumes/Data/unity_test/XLua-src/build/lua-intf
[submodule "build/nslua"]
	path = build/nslua
	url = https://github.com/cn00/NSLua.git
[submodule "build/mariadb"]
	path = build/mariadb-connector-c
	url = git@github.com:cn00/mariadb-connector-c.git
